.session-form {
  padding: var(--size-8);

  input {
    border: 1px solid var(--stone-5);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  label > input {
    flex-grow: .125;
  }

  button {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
