html, body {
  block-size: 100%;
  background-color: var(--stone-1);

  #root {
    display: flex;
    flex-direction: column;
    block-size: 100%;
  }
}
.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.app-container {
  padding: var(--size-8);
}

/* selector for class that starts with column-indicator- */
.column-indicator {
  --indicator-bg-color: var(--stone-3);
  inline-size: .75rem;
  block-size: .75rem;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--indicator-bg-color);
}

.bg--green-6 {
  --indicator-bg-color: var(--green-6);
}
.bg--red-6 {
  --indicator-bg-color: var(--red-6);
}
.bg--blue-6 {
  --indicator-bg-color: var(--blue-6);
}


.animated-fade-in {
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
