.pill {
  background-color: var(--pill-bg-color);
  color: var(--pill-text-color);
  padding: .3rem .6rem;
  border-radius: 50px;
  font-size: var(--font-size-00);
  text-transform: uppercase;
  max-inline-size: max-content;
  display: grid;
  place-items: center;
  line-height: 1;
}
