.home {
  border: 1px solid var(--stone-3);
  padding: var(--size-12) var(--size-8);
  div {
    inline-size: 100%;

    &:before {
      content: '';
      border-inline-start: 1px solid var(--stone-3);
      position: absolute;
      block-size: var(--size-12);
      inline-size: 1px;
      background-color: var(--stone-3);
      left: 50%;
      top: 50%;
    }
  }
}

p {
  small {
    border-radius: 25rem;
    border: 1px solid var(--stone-3);
    outline: 1px solid white;
    padding: var(--size-1) var(--size-4);
    background-color: var(--stone-2);
    inline-size: fit-content;
    display: block;
    margin-inline: auto;
  }
}

.split-container {
  /* make this an intrinsic container - no media queries but break at < 700px */
  display: flex;
  gap: var(--size-8);
  flex-wrap: wrap;

  > * {
    flex: 1 1 calc(50% - var(--size-8));
  }
}
