.join-session-form {
  inline-size: 80%;
  margin-block-start: var(--size-8);

  input {
    border: 1px solid var(--stone-5);
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    flex-grow: 1;

    &:nth-child(2) {
      border-radius: 0;
    }
  }

  button {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
