.copy-button {
  background-color: transparent;
  color: var(--stone-11);
  inline-size: var(--size-5);
  padding: 0;
}

.copy-popover {
  padding: var(--size-1) var(--size-3);
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 25rem;
  background-color: var(--stone-10);
  color: var(--stone-1);
  opacity: 0;
}
