[data-split] {
  --split-gap: initial;
  --split-align: initial;
  --largest-width: calc(100% - max(0rem, var(--split-gap, 0rem)));
  --min-split-width: initial;
  --collapse: calc(var(--collapse-at) - var(--split-gap));
  --collapse-at: initial;
  align-items: var(--split-align);
  display: flex;
  flex-wrap: wrap;
  gap: var(--split-gap, 0);
}

[data-split] {
  --split-gap: initial;
  --split-align: initial;
  --largest-width: calc(100% - max(0rem, var(--split-gap, 0rem)));
  --split-min-width: initial;
  --collapse: calc(var(--collapse-at) - var(--split-gap, 0rem));
  --collapse-at: initial;
  align-items: var(--split-align);
  display: flex;
  flex-wrap: wrap;
  gap: var(--split-gap, 0rem);
}

[data-split] > * {
  flex-grow: 1;
}

[data-split] > *:nth-child(1) {
  flex-basis: max(var(--split-min-width, 0rem), calc(var(--largest-width) * 0.5));
}

[data-split] > *:nth-child(2) {
  flex-basis: calc(
    (max(var(--collapse, 0rem), var(--largest-width)) - var(--largest-width)) * 999
  );
  min-inline-size: max(
    min(var(--split-min-width, 0), 100%),
    calc(var(--largest-width) * 0.5)
  );
  flex-grow: 999;
}




[data-split~="1/4"] > *:nth-child(1) {
  flex-basis: max(var(--split-min-width, 0px), calc(var(--largest-width) * 0.25));
}
[data-split~="1/3"] > *:nth-child(1) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.333333)
  );
}
[data-split~="1/2"] > *:nth-child(1) {
  flex-basis: max(var(--split-min-width, 0px), calc(var(--largest-width) * 0.5));
}
[data-split~="2/3"] > *:nth-child(2) {
  flex-basis: max(
    var(--split-min-width, 0px),
    calc(var(--largest-width) * 0.333333)
  );
  flex-grow: 1;
}
[data-split~="3/4"] > *:nth-child(2) {
  flex-basis: max(var(--split-min-width, 0px), calc(var(--largest-width) * 0.25));
  flex-grow: 1;
}


:is( [data-split~="1/4"], [data-split~="1/3"], [data-split~="1/2"] )
  > *:nth-child(2) {
  flex-basis: calc(
    (max(var(--collapse, 0px), var(--largest-width)) - var(--largest-width)) * 999
  );
  min-inline-size: max(
    min(var(--split-min-width, 0), 100%),
    calc(var(--largest-width) * 0.5)
  );
  flex-grow: 999;
}



:is([data-split~="3/4"], [data-split~="2/3"])
  > *:nth-child(1) {
  flex-basis: calc(
    (var(--collapse, var(--largest-width)) - var(--largest-width)) * 999
  );
  min-inline-size: max(
    min(var(--split-min-width, 0), 100%),
    calc(50% - var(--split-gap))
  );
  flex-grow: 999;
}


[data-split~="gap:sm"] { --split-gap: var(--layout-split-gap-sm); }
[data-split~="gap:md"] { --split-gap: var(--layout-split-gap-md); }
[data-split~="gap:lg"] { --split-gap: var(--layout-split-gap-lg); }

[data-split~="align:start"] { --split-align: flex-start; }
[data-split~="align:end"] { --split-align: flex-end; }
[data-split~="align:center"] { --split-align: center; }

[data-split~="collapse:sm"] { --collapse-at: var(--layout-split-collapse-sm); }
[data-split~="collapse:md"] { --collapse-at: var(--layout-split-collapse-md); }
[data-split~="collapse:lg"] { --collapse-at: var(--layout-split-collapse-lg); }
