[data-container] {
  --container-size: initial;
  --container-padding: initial;
  inline-size: 100%;
  max-inline-size: var(--container-size);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
[data-container~="width:sm"] { --container-size: var(--container-size-sm); }
[data-container~="width:md"] { --container-size: var(--container-size-md); }
[data-container~="width:lg"] { --container-size: var(--container-size-lg); }

[data-container~="padding:sm"] { --container-padding:  var(--layout-container-padding-sm, 1rem); }
[data-container~="padding:md"] { --container-padding:  var(--layout-container-padding-md, 2rem); }
[data-container~="padding:lg"] { --container-padding:  var(--layout-container-padding-lg, 3rem); }
