.app-container {
  block-size: 100%;
  /* padding: var(--space-m); */

}
.app-header {
  background-color: #f9f9f9;
  border-block-end: 1px solid var(--stone-3);
  padding: var(--space-m) var(--space-l);
}

.app-header-title {
  font-size: var(--step-1);
  font-weight: var(--font-weight-8);
  text-transform: uppercase;
}

.app-header-logo {
  inline-size: var(--size-8);
}

.app-footer {
  border-block-start: 1px solid var(--stone-3);
  margin-block-start: auto;
  padding: var(--space-m) var(--space-l);
}
