.app-header {
  background-color: #f9f9f9;
  border-block-end: 1px solid var(--stone-3);
  padding: var(--size-4) var(--size-8);
}

.app-header-title {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-8);
  text-transform: uppercase;
}

.app-header-logo {
  inline-size: var(--size-8);
}

.app-footer {
  border-block-start: 1px solid var(--stone-3);
  margin-block-start: auto;
  padding: var(--size-4) var(--size-8);
}
