.app-header {
  border-block-end: 1px solid var(--stone-3);
  padding: var(--size-4) var(--size-8);
}

.app-footer {
  border-block-start: 1px solid var(--stone-3);
  margin-block-start: auto;
  padding: var(--size-4) var(--size-8);
}
