.container {
  background: var(--stone-1);
  padding: var(--size-4);
  border-radius: var(--radius-2);
  margin-bottom: var(--size-4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title {
  margin: 0;
  font-size: var(--step--1);
  text-transform: uppercase;
  color: var(--stone-9);
}

.toggle-button {
  font-size: var(--step--1);
  padding: var(--size-1) var(--size-2);
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  padding: var(--size-1) var(--size-2);
  font-size: var(--step--1);
}

.user-name {
  font-weight: normal;
}

.user-name.currentUser {
  font-weight: bold;
}
