.column {
  background-color: white;
  border-radius: var(--radius-2);
  padding: var(--size-4);
  border: 1px solid var(--stone-3);

  h2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-8);
    text-transform: uppercase;
    margin-bottom: var(--space-4);
  }
}



.cardAdded {
  /* animation: border glow ease in and out */
  /* animation: glow 0.5s ease-in-out; */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 var(--stone-10);
  }
  50% {
    box-shadow: 0 0 0 10px var(--stone-12);
  }
  100% {
    box-shadow: 0 0 0 0 var(--stone-10);
  }
}
