.column {
  background-color: white;
  border-radius: var(--radius-2);
  padding: var(--size-4);
  border: 1px solid var(--stone-3);

  h2 {
    --cluster-gap: .5rem;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-8);
    text-transform: uppercase;
  }
}

.card-added {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 var(--stone-10);
  }
  50% {
    box-shadow: 0 0 0 10px var(--stone-12);
  }
  100% {
    box-shadow: 0 0 0 0 var(--stone-10);
  }
}
