.card {
  border: 1px solid var(--stone-10);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 0 var(--stone-10);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 8px 8px 0 var(--color-link-primary);
    transform: scale(1.01);
  }

  article {
    padding: var(--size-fluid-3);
    position: relative;
  }

  article:has(.card-textarea) {
    padding: 0;
  }

  .card-textarea {
    inline-size: 100%;
    padding: var(--size-fluid-2);
    border: 1px dotted var(--stone-3);
    outline: none;
    background-color: transparent;
    position: relative;
    inset: 0;

    &:focus {
      outline: 2px solid;
      outline-offset: -4px;
      background-color: var(--input-bg-color);
    }
  }

  footer {
    padding: .75rem var(--size-fluid-1);
    background-color: var(--stone-1);
    border-top: 1px solid var(--stone-5);
    font-size: .75rem;

    > div {
      margin-inline-start: auto;
    }
  }
}

.card-footer-button {
  border: none;
  background-color: transparent;
  padding: .5rem;

  svg {
    inline-size: var(--size-3);
    color: var(--stone-12);
  }

  &:hover {
    svg {
      color: var(--color-link-primary);
    }
  }
}
